// @import "../../../styles/_styles.scss";

.iconography-page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: og-space(space-32);
  grid-row-gap: og-space(space-32);
  justify-items: center;
  padding: og-space(space-24);
}

.iconography-specimen {
  padding: og-space(space-08);
  @include og-text-style-caption(bold);
}

