/// Returns the font size for a given range.
///
/// @param {Number} $range - The font style.
/// @return {Number} The font-size for the text-style.
@function og-font-size($range) {
  $fetched-font-size: map-get($og-font-size-data, $range);
  @if type-of($fetched-font-size) != null {
    @return $fetched-font-size;
  } @else {
    @error 'Font size range `#{$range}` not found. Available font sizes: #{$og-font-size-data}';
  }
}

/// Returns the line height for a given range.
///
/// @param {Number} $range - The font style.
/// @return {Number} The line-height for the text-style.
@function og-line-height($range: normal) {
  $fetched-line-height: map-get($og-line-height-data, $range);
  @if type-of($fetched-line-height) != null {
    @return $fetched-line-height;
  } @else {
    @error 'Line height `#{$range}` not found. Available line heights: #{$og-line-height-data}';
  }
}

/// Returns the font weight for a given weight definition.
///
/// @param {String} $weight - The font weight.
/// @return {Number} The font-weight for the text-weight.
@function og-font-weight($weight: normal) {
  $fetched-font-weight: map-get($og-font-weight-data, $weight);
  @if type-of($fetched-font-weight) != null {
    @return $fetched-font-weight;
  } @else {
    @error 'Font weight `#{$weight}` not found. Available font weights: #{$og-font-weight-data}';
  }
}

/// Returns the letter spacing for a given definition.
///
/// @param {String} $letter-spacing - The letter spacing.
/// @return {Number} The letter-spacing.
@function og-letter-spacing($letter-spacing: 0) {
  $fetched-letter-spacing: map-get($og-letter-spacing-data, $letter-spacing);
  @if type-of($fetched-letter-spacing) != null {
    @return $fetched-letter-spacing;
  } @else {
    @error 'letter spacing `#{$letter-spacing}` not found. Available letter spacings: #{$og-letter-spacing-data}';
  }
}
