.og-color-text-primary {
  color: og-color(text, primary);
}

.og-color-text-secondary {
  color: og-color(text, secondary);
}

.og-color-text-secondary, .og-color-text-secondary  {
  a {
    color: og-color(text, link);
  }

  a:focused {
    color: og-color(text, link-focused);
  }
}

.og-color-text-signal-positive {
  color: og-color(text, positive);
}

.og-color-text-signal-positive {
  color: og-color(text, positive);

  a:focused {
    color: og-color(text, positive-focused);
  }
}

.og-color-text-signal-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative-focused);
  }
}

.og-color-text-signal-info {
  color: og-color(text, info);

  a:focused {
    color: og-color(text, info-focused);
  }
}

.og-color-text-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative-focused);
  }
}

.og-color-text-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative-focused);
  }
}

.og-color-text-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative-focused);
  }
}

.og-color-text-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative-focused);
  }
}

.og-color-text-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative-focused);
  }
}

.og-color-text-negative {
  color: og-color(text, negative);

  a:focused {
    color: og-color(text, negative);
  }
}





// in-dark
.og-color-text-primary-on-dark {
  color: og-color(text, primary-on-dark);
}

.og-color-text-secondary-on-dark {
  color: og-color(text, secondary-on-dark);
}

.og-color-text-secondary-on-dark, .og-color-text-secondary-on-dark  {
  a {
    color: og-color(text, link-on-dark);
  }
  a:focused {
    color: og-color(text, link-on-dark-focused);
  }
}

.og-color-text-signal-positive-on-dark {
  color: og-color(text, positive-on-dark);
}

.og-color-text-signal-positive-on-dark {
  color: og-color(text, positive-on-dark);
  a {
    color: og-color(text, positive-on-dark);
  }
  a:focused {
    color: og-color(text, positive-on-dark-focused);
  }
}

.og-color-text-signal-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}

.og-color-text-signal-info-on-dark {
  color: og-color(text, info-on-dark);
  a {
    color: og-color(text, info-on-dark);
  }
  a:focused {
    color: og-color(text, info-on-dark-focused);
  }
}

.og-color-text-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}

.og-color-text-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}

.og-color-text-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}

.og-color-text-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}

.og-color-text-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}

.og-color-text-negative-on-dark {
  color: og-color(text, negative-on-dark);
  a {
    color: og-color(text, negative-on-dark);
  }
  a:focused {
    color: og-color(text, negative-on-dark-focused);
  }
}