// @import "../../../styles/_styles.scss";

.showcase-elements-container {
  max-width: 100%;
  margin: 0 auto;
  padding: $og-space-96;
  display: grid;
  grid-column-gap: $og-space-24;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $og-space-32;
  grid-template-rows: auto;
  justify-items: left;
  align-items: start;
  min-height: 100vh;
}

p {
  max-width: 940px;
}