@import '../0-base/_base-dir.scss';
@import '../1-themes/_themes-dir.scss';
@import '../2-foundations/_foundations-dir.scss';

.og-text-area-container {
  display: flex;
  flex-direction: column;
  margin: $og-space-16;

  .og-text-area-label {
    color: og-color(text, secondary);
    margin-bottom: $og-space-04;
  }

  .og-text-area-field {
    font-family: $og-theme-font-family;
    border-radius: og-rem(3px);
    border: og-rem(1px) og-color(border, primary-darker) solid;
    padding: $og-space-04 $og-space-08;

    &:focus {
      outline: og-color(border, brand) og-rem(1px) solid;
    }

    &::placeholder {
      color: og-color(text, placeholder);
    }
  }
}