// TODO: Explanation of what this is...

@import './app.scss';
@import './typography.scss';
@import './containers.scss';
// ... Any other app definitions


@import "../../components/app/LeftNav/left-nav.scss";
@import "../../components/app/FooterMessage/footer-message.scss";
@import "../../components/pages/_contact/contact-page.scss";




////////////////////////////////////////////////////////////////////////////
/// Connecting the Typographic styles defined above to Type-HTML elements
///////////////////////////////////////////////////////////////////////////

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include og-text-style-heading1();
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  @include og-text-style-heading2();
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  @include og-text-style-heading3();
}

h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  @include og-text-style-heading4();
}

h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  @include og-text-style-heading5();
}

h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  @include og-text-style-heading6();
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include og-text-style-body1();
}

ul,
ol {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  @include og-text-style-list();
}

a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: og-color(text, link);
  @include og-text-style-link();
}

button {
  @include og-text-style-body1();
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

code {
  font-size: $og-theme-base-font-size;
}

pre {
  margin: 2.5rem 0;
}
